<div class="main-container">
  <form [formGroup]="RegistrationForm" (ngSubmit)="OnSubmit()">
    <div class="form-group">
      <label for="firstname" class="form-label">firstName</label>
      <input
        type="fistName"
        placeholder="enter your firstName"
        class="form-control"
        formControlName="firstName"
      />
      <div
        *ngIf="
          RegistrationForm.get('firstName').invalid &&
          RegistrationForm.get('firstName').touched
        "
      >
        <small
          *ngIf="RegistrationForm.get('firstName').errors?.required"
          class="text-danger"
          >Enter Your Name
        </small>
        <small
          *ngIf="RegistrationForm.get('firstName').errors?.minlength"
          class="text-danger"
          >Invalid formate
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="form-label">last Name</label>
      <input
        type="lastName"
        placeholder="enter your name"
        class="form-control"
        formControlName="lastName"
      />
      <div
        *ngIf="
          RegistrationForm.get('lastName').invalid &&
          RegistrationForm.get('lastName').touched
        "
      >
        <small
          *ngIf="RegistrationForm.get('lastName').errors?.required"
          class="text-danger"
        >
          Enter your lastName</small
        >
        <small
          *ngIf="RegistrationForm.get('lastName').errors?.minlength"
          class="text-danger"
          >Invalid format</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">email</label>
      <input
        type="email"
        placeholder="enter your email"
        class="form-control"
        formControlName="email"
      />
      <div
        *ngIf="
          RegistrationForm.get('email').invalid &&
          RegistrationForm.get('email').touched
        "
      >
        <small
          *ngIf="RegistrationForm.get('email').errors?.required"
          class="text-danger"
          >Enter Your Email</small
        >
        <small
          *ngIf="RegistrationForm.get('email').errors?.pattern"
          class="text-danger"
          >Invalid format</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">password</label>
      <input
        type="password"
        placeholder="enter your password"
        class="form-control"
        formControlName="password"
      />
      <div
        *ngIf="
          RegistrationForm.get('password').invalid &&
          RegistrationForm.get('password').touched
        "
      >
        <small
          *ngIf="RegistrationForm.get('password').errors?.required"
          class="text-danger"
          >Enter Your password</small
        >
        <small
          *ngIf="RegistrationForm.get('password').errors?.pattern"
          class="text-danger"
          >Invalid formate</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="mobile" class="form-label">mobile</label>
      <input
        type="mobile"
        placeholder="enter your name"
        class="form-control"
        formControlName="mobile"
      />
      <div
        *ngIf="
          RegistrationForm.get('mobile')?.invalid &&
          RegistrationForm.get('mobile')?.touched
        "
        class="text-danger"
      >
        <small
          *ngIf="RegistrationForm.get('mobile')?.errors?.required"
          class="text-danger"
          >Enter your mobile number</small
        >
        <small
          *ngIf="RegistrationForm.get('mobile')?.errors?.pattern"
          class="text-danger"
          >Invalid mobile number. Must be 10 digits.</small
        >
      </div>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="RegistrationForm.invalid"
    >
      Create
    </button>
    <div>
      <small>Already you have Account?<a routerLink="/login">Sign-in</a></small>
    </div>
  </form>
</div>
