<div class="product-tables">
  <!-- Vegetables Table -->
  <div class="product-list">
    <h1>Vegetables</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of vegetablesList">
          <td><img src="{{ item.image }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
         <td>
  <span (click)="deleteProduct(item.id, item.category)">
    <i class="fas fa-trash"></i>
  </span>
  <a class="adjust-update-link" routerLink="/seller-update-product/{{item.id}}">
    <i class="fas fa-edit"></i> <span>Edit</span>
  </a>
</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Fruits Table -->
  <div class="product-list">
    <h1>Fruits</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of fruitsList">
          <td><img src="{{ item.image }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td>
            <span (click)="deleteProduct(item.id, item.category)">
              <i class="fas fa-trash"></i>
            </span>
            <a class="adjust-update-link" routerLink="/seller-update-product/{{item.id}}">
              <i class="fas fa-edit"></i> <span>Edit</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Oils Table -->
  <div class="product-list">
    <h1>Oils</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of oilsList">
          <td><img src="{{ item.image }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td>
            <span (click)="deleteProduct(item.id,item.category)">
              <i class="fas fa-trash"></i>
            </span>
            <a class="adjust-update-link" routerLink="/seller-update-product/{{item.id}}">
              <i class="fas fa-edit"></i> <span>Edit</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="product-list">
    <h1>Grains</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of grainsList">
          <td><img src="{{ item.image }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td>
            <span (click)="deleteProduct(item.id, item.category)">
              <i class="fas fa-trash"></i>
            </span>
            <a class="adjust-update-link" routerLink="/seller-update-product/{{item.id}}">
              <i class="fas fa-edit"></i> <span>Edit</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Spices Table -->
  <div class="product-list">
    <h1>Spices</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Color</th>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of spicesList">
          <td><img src="{{ item.image }}" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.description }}</td>
          <td>
            <span (click)="deleteProduct(item.id, item.category)">
              <i class="fas fa-trash"></i>
            </span>
            <a class="adjust-update-link" routerLink="/seller-update-product/{{item.id}}">
              <i class="fas fa-edit"></i> <span>Edit</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
