.Spices-container{
     /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    /* height: 11rem; */
    box-sizing: 2px solid;
    border: -4px solid;
    /* padding: 1rem; */
    /* margin: 1rem; */
    background-color: beige;
    /* position: absolute; */
    /* width: 100%; */
    left: -1rem;
    font-size: larger;
    font-style: italic;
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}
.spices-arrangement{
    display: flex;
    flex-direction: column;
}
.fruit-container strong {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

.fruit-container span {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.fruit-image {
    width: 100%; /* The image will take up the full width of its container */
    height: 300px; /* Sets a fixed height for the image, adjust as needed */
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgF96Xgg9Y_Qcez4EU5Ve8J_VNeTRI3RFG7Q&s');
    background-size: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
