.password-container {
    display: flex;
    box-shadow: 1px 1px 5px gray;
    margin: 1rem;
    color: black;
    width: 21rem;
    padding: 2rem;
    margin: 3rem;
    font-style: italic;
    flex-direction: column;
    border-radius: 11px;
}